<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog-bug-group-by-date-part.txt">

	<targets>
		<target name="debugger" xsi:type="Debugger" layout="${logger} ->> ${message}"/>
	</targets>

	<rules>
		
		<!-- output EF's generated SQL: Microsoft.EntityFrameworkCore.Database.Command -->
		<logger name="Microsoft.EntityFrameworkCore.Database.Command" minlevel="Trace" writeTo="debugger" />

		<!-- our logs to the debugger -->
		<logger name="BugGroupByDatePart.Tests.EFTests" minlevel="Debug" writeTo="debugger" />

		<!-- all warnings to debug console -->
		<!--<logger name="*" minlevel="Warn" writeTo="debugger" />-->

	</rules>
</nlog>
